.grid-item {
  /*background-color: #ccc;*/
  padding: 20px;
  text-align: center;
  /*background-color: red;*/
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
  width: 300px;
  height: 400px;
  margin: 10px;
  overflow: hidden;

  position: relative;
}

.card.with-image::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 50px; /* adjust to your desired size */
  height: 50px; /* adjust to your desired size */
  background-image: url("../../assets/sale.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.card-image {
  height: 250px;
  overflow: hidden;
}

.card-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-content {
  padding: 10px;
}

.card-content h2 {
  margin-top: 0;
}

.card-content p {
  margin: 0;
  font-size: 1.2rem;
  font-weight: bold;
}